{% extends 'organization/base.html' %}
{% load static%}
{% block content %}
<div class="container mt-5">
    <h2>Multi-Department Registration</h2>
    <div id="department-forms-container">
        <!-- Department forms will be added here -->
    </div>
    <button class="btn btn-info w-100 my-3" id="add-department-button">Add Department</button>
    <button class="btn btn-success w-100 my-3" id="register-button">Register</button>
    <button type="button" class="btn btn-secondary w-100 mb-2" id="cancel-button">Cancel</button>
</div>
{% endblock content %}

{% block javascript %}
<script src="{% static 'organization/js/multi_department.js' %}"></script>
{% endblock javascript%}