{% extends 'organization/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'organization/css/password_reset_done.css'  %}">
{% endblock %}

{% block content  %}

<section class="password-reset-done mt-5">
    <div class="container">
        <h1 class="text-center text-info">Password Reset Done </h1>
        <p class="my-3 text-center text-success fw-bold"> The password reset link has sent to your gmail account.Please go and click the provided link !!!</p>
    </div>
</section>

{% endblock %}
