{% load static%}
{% block css %}
<link rel="stylesheet" href="{% static 'organization/css/sidebar.css' %}" />
{% endblock css %}
<i id="sidebarToggle" class="fas fa-bars d-md-none" style="font-size: 24px; cursor: pointer;"></i>
 <div class="col-md-3 sidebar">
    <div class="logo">
        <img src="{{ logo_url }}" alt="Logo" />
    </div>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'insights' %}">Insight</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'feedback' %}">Suggestion Box</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Settings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Sign out</a>
        </li>
    </ul>
</div> 

{% block javascript %}
<script src="{% static 'organization/js/sidebar.js' %}"></script>
{% endblock javascript%}
