.banner-content {
    display: flex;
    align-items: center;  
    justify-content: center;  
    text-align: center;  
}

.image-container img {
    width: 100%;  
    height: auto; 
}

body {
    font-family: Arial, sans-serif;
}

.sidebar {
    background-color: #f8f9fa;
    height: 100%;
    padding: 20px;
     
}

.logo img {
    max-width: 100%;
    height: auto;
}

.nav-item .nav-link {
    color: #333;
    padding: 10px;
}

.nav-item .nav-link.active {
    background: linear-gradient(90deg, #07661d, #5de285, #ffffff);
    color: #fff;
}


@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
}
button {
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
   }
   
   button::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   button:hover::before {
    width: 9em;
   }
   
.main-content, .right-sidebar {
    padding: 20px;
}

.card {
    margin-bottom: 20px;
}