{% extends 'organization/base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}
{% block sidebar%}
{% include "organization/sidebar.html" %}
{% endblock sidebar%}
{% block main-content%}
{% include "organization/dashboard_content.html" %}
{% endblock main-content%}
{% endblock content %}
{% block javascript%}
<script src="https://cdn.jsdelivr.net/npm/chart.js">


  {% comment %} function checkScreenWidth() {
      if (window.innerWidth < 768) {
          document.querySelector('.sidebar').style.display = 'none';
      } else {
          document.querySelector('.sidebar').style.display = 'block';
      }
  }
  window.addEventListener('resize', checkScreenWidth);
  window.addEventListener('load', checkScreenWidth); {% endcomment %}
</script>

{% endblock javascript %} 
