<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="logo " style="margin-left:50px;">
        <img src="{{ logo_url.url }}" alt="Logo"  />
    </div>
    <p>  Dear, {{name}} your feedback <strong>{{feedback}}</strong> is forwarded to the <strong>{{parent_name}}</strong> for further processing.<br>Please feel free to send more suggestion.</p><br>
</body>
</html> 