<!-- qr-template.html -->
<div id="pdf-content">
    <div style="font-size: 16px; text-align: center; margin-bottom: 20px; margin-top:20px;">
        Your feedback drives change. Every suggestion matters.
    </div>
    <h3 style="text-align:center;"><span id="org-name"></span><h3>
    <div class="logo " style="margin-left:50px;">
        <img src="{{ logo_url.url }}" alt="Logo"  />
    </div>
    <div style="text-align: center;">
        <img id="qr-code-img" src="" style="width: 200px; height: 200px;" />
    </div>
    <div id="org-message" style="font-size: 12px; margin-bottom: 20px; text-align: center;">
        Welcome to the digital sujhavpetika of <span id="org-name"></span>. Please scan the below QR code to send the suggestion.
    </div>
    <div style="font-size: 12px; margin-top: 20px; text-align: center;">
        Organization name will only be shared.
    </div>
</div>
