<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>  Dear, {{name}} your head office <strong>{{parent_name}}</strong> registered you as the department in digital feedback collection platform EsujhavPetika.<br>Please use the below credentials to login in EsujhavPetika  .</p><br>
    <strong>Username:</strong>{{username}}<br>
    <strong>Password:</strong>{{password}}<br>
</body>
</html> 