.logo-edit{
    margin-top: 13px;
    height: 130px;
    width: 130px;
}
.edit a{
    cursor: pointer;
    text-decoration: none;
}
.profile-picture{
    font-size: 22px;
}
.setting{
    background-color: #f8f9fa;
   
}
.logo-edit img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: solid black 1px;
}
html {
    scroll-behavior: smooth;
}
/* Default styles for nav items */
.nav-item .nav-link {
    background-color: transparent;
    color: #000;
    padding: 10px;
    display: block;
    text-decoration: none;
    border-radius: 0; /* Remove any border-radius by default */
    transition: all 0.3s ease;
}

/* Hover effect */
.nav-item .nav-link:hover {
    background: linear-gradient(90deg, rgb(139, 139, 139), rgb(177, 175, 175), white);
    border-radius: 3.5px 0 0 3.5px;
    color: #fff;
}
 
/* Active class */
.nav-item .nav-link.active {
    background: linear-gradient(90deg, #007bff, #78ade9, #ffffff);
    color: #fff;
    border-radius: 3.5px 0 0 3.5px;
}
