.sidebar {
    background-color: #f8f9fa;
    padding: 10px;
    position: fixed;
    top: 58px;
    height: 100vh;
    left: 0;
    width: 250px;
    transition: margin-left 0.3s ease;
}

.sidebar.collapsed {
    display: none;  
}

.nav-item .nav-link {
    color: #333;
    padding: 10px;
}
.nav-item:hover {
    background: linear-gradient(90deg, rgb(139, 139, 139), rgb(177, 175, 175), white);
    border-radius: 3.5px 0 0 3.5px;
}

.nav-item .nav-link.active {
    background: linear-gradient(90deg, #007bff, #78ade9, #ffffff);
    color: #fff;
    border-radius: 3.5px 0 0 3.5px;
}

@media (max-width: 768px) {
    .sidebar {
        display: block; 
        width: 100%;  
        position: relative; 
        top: auto;  
        left: auto;  
    }

    #sidebarToggle {
        display: block;
       
    }

    .main-content {
        margin-left: 0!important;
        padding: 20px;
        overflow-x: hidden;
        margin-top: 0px!important;
    }
}

.main-content {
    padding: 20px;
    overflow-x: hidden;
    margin-top: 58px;
    margin-left: 250px;
}

 